@model PagedList.IPagedList<MojProjekt.Domain.Entities.Customer>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
}

<h2>Lista Kilentów</h2>

<div>
    @Html.ActionLink("Dodaj Klienta", "Add", null, new { @class = "btn btn-default" })
    <div class="pull-right form-inline">
        @using (Html.BeginForm("Index", "Customer"))
        {
            @Html.TextBox("searchString", null, new { @class = "form-control", placeholder = "szukaj po nazwie lub NIP", style="width: 200px" })
            <button type="submit" class="btn btn-default">Szukaj</button>
        }
    </div>
</div>


<hr />

<div>
    @foreach (var customer in Model)
    {
        <div>
            <h4>@Html.ActionLink(@customer.Name, "Details", new { id = customer.ID }, new { style = "color: #808080;" })</h4>
            <p>@customer.Address, @customer.City, @customer.PostCode
                @Html.ActionLink("Szczegóły", "Details", new { id = customer.ID }, new { @class = "btn btn-default pull-right" })
                @Html.ActionLink("Edytuj", "Edit", new { id = customer.ID }, new { @class = "btn btn-default pull-right" })   
                @Html.ActionLink("Usuń", "Delete", new { id = customer.ID }, new { @class = "btn btn-danger pull-right" })
            </p>
            <p>NIP: @customer.NIP</p>
        </div>
        <hr />
    }
</div>


@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

<script>
    $(document).ready(function () {
        $('input[name="searchString"]').val("");
    });
</script>